language: android

env:
  matrix:
    - ANDROID_TARGET=android-19  ANDROID_ABI=armeabi-v7a

components:
    - platform-tools
    - tools
    - build-tools-21.1.1
    - android-19

before_script:
  # Create and start emulator
  - echo no | android create avd --force -n test -t $ANDROID_TARGET --abi $ANDROID_ABI
  - emulator -avd test -no-skin -no-audio -no-window &
  - adb wait-for-device
  - adb shell input keyevent 82 &

#script: ./gradlew connectedAndroidTest
script: ./gradlew check
