<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.laurinka.skga.app"
    >
         

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <meta-data
            android:name="capptain:appId"
            android:value="csh000000" />

        <service
            android:name="com.ubikod.capptain.android.service.CapptainService"
            android:label="CSHandicapService"
            android:process=":Capptain" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="com.ubikod.capptain.ICapptainService" />

                <data android:scheme="capptain" />
            </intent-filter>

            <meta-data
                android:name="capptain:api:level"
                android:value="19" />
            <meta-data
                android:name="capptain:api:id"
                android:value="b6a5b1113175bf391e442a8653876b84" />
            <meta-data android:name="capptain:log:test" android:value="true" />
        </service>
        <activity
            android:name="com.laurinka.skga.app.LaurinkaActivity"
            android:screenOrientation="landscape"
            android:theme="@style/FullScreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.laurinka.skga.app.IntroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen" >
            <intent-filter>
                <action android:name="com.laurinka.skga.app.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".AddByNumberActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen" >
        </activity>
        <activity
            android:name=".AddByCgfNumberActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".AddByActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".AddByNameActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".EditActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen" />
    </application>

</manifest>